In [1]:
path = "/home/ktoraman/data/isimler.txt"

In [2]:
f = open(path, "r").read()

In [3]:
len(f)

260583

In [4]:
f.count(";")

5

In [5]:
f.count(":")

0

In [6]:
f = f.replace(";", ",")

In [7]:
import ast

In [8]:
f = "["+f+"]"

In [9]:
l = ast.literal_eval(f)

In [10]:
len(l)

9699

In [11]:
from collections import Counter

In [12]:
cnt = Counter()
for t in l:
    cnt[len(t)] += 1

In [13]:
cnt

Counter({3: 9699})

In [14]:
import pandas as pd

In [15]:
df = pd.DataFrame(l, columns = ["ind", "name", "gender"])[["name", "gender"]]
df

        name     gender
0        Aba        Kız
1      Abaca        Kız
2     Abacan        Kız
3       Abaç        Kız
4       Abay      Erkek
...      ...        ...
9694    Ülkü        Kız
9695  Ülkülü      Erkek
9696   Ülküm        Kız
9697      Ün      Erkek
9698    Ünlü  Erkek/Kız

[9699 rows x 2 columns]

In [16]:
df.gender.value_counts()

Erkek        6085
Kız          2631
Erkek/Kız     983
Name: gender, dtype: int64

In [17]:
gender_map = {"Erkek": "M", "Kız": "F", "Erkek/Kız": "U"}

In [18]:
df["sex"] = df.gender.map(gender_map)
df

        name     gender sex
0        Aba        Kız   F
1      Abaca        Kız   F
2     Abacan        Kız   F
3       Abaç        Kız   F
4       Abay      Erkek   M
...      ...        ...  ..
9694    Ülkü        Kız   F
9695  Ülkülü      Erkek   M
9696   Ülküm        Kız   F
9697      Ün      Erkek   M
9698    Ünlü  Erkek/Kız   U

[9699 rows x 3 columns]

In [19]:
df = df[["name", "sex"]]

In [20]:
df

        name sex
0        Aba   F
1      Abaca   F
2     Abacan   F
3       Abaç   F
4       Abay   M
...      ...  ..
9694    Ülkü   F
9695  Ülkülü   M
9696   Ülküm   F
9697      Ün   M
9698    Ünlü   U

[9699 rows x 2 columns]

In [27]:
df = df.sort_values("name")

In [28]:
df.to_csv("turkish_names.csv",index=None)